.herosection {
    padding: 1rem 0rem;
    padding-left: 3rem;
    height: 100vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.namebox {
    margin: 2rem 3rem;
}

.nameboxinner {
    margin: -35px 26px;
}

.namebox .nameboxinner .hi {
    font-size: 10rem;
}

.namebox .nameboxinner .name {
    font-size: 10rem;
    margin-top: -4rem;
}

.namebox .nameboxinner .webdev {
    font-size: 10rem;
    margin-top: -3rem;
}

.animatedtextbox {
    margin: 2rem 3rem;
}

.animatedtextbox .texthere h4 {
    font-size: 3rem;
    color: rgb(139, 130, 130);
    font-weight: 300;
    font-weight: bold;

}

.contactusbtn {
    margin-left: 6rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.contactusbtn a {
    font-size: 3.5rem;
    text-decoration: none;
    border: 2px solid #7ed6df;
    padding: 0.5rem 1rem;
    transition: background 0.4s ease;
}


.contactusbtn a:hover {
    background: #7ed6df;
    box-shadow: #f9ca24 0px 5px 15px;
}

/* ----------heroimagegif------------- */

.heroimagegif {
    width: 33%;
}

.heroimagegif img {
    width: 100%;
    position: relative;
    right: 6rem;
    top: 27%;
    box-shadow: #ffc800 0px 5px 15px;
    transition: box-shadow 0.5s ease-in-out;
}